
<div class="card my-3" *ngIf="movieSel">
    <div class="card-body">
      <span class="badge badge-warning">
        id:{{ movieSel.id }} name: {{ movieSel.name }}
      </span>
      <div class="input-group">
        <input type="text" [(ngModel)]="movieSel.name" class="form-control" />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Update</button>
        </div>
      </div>
      <div class="card-text">
        Description : {{movieSel.description}}
      </div>
    </div>
  </div>
  