
<div class="card my-2">
  <div class="card-header">
    {{ title }}
  </div>
  <ul class="list-group list-group-flush">
    <li
      *ngFor="let movie of movies"
      class="list-group-item"
      routerLink='/detail/{{movie.id}}'
    >
      <span style="cursor:pointer;" class="badge badge-primary">{{ movie.id }}</span>
      <span style="cursor: pointer;">{{ movie.name }}</span>
      <span style="cursor:pointer;" (click)="delete(movie)" class="close">x</span>
    </li>
  </ul>
</div>

<div class="card">
  <div class="card-header">
    Add Movie
  </div>
  <div class="card-body">
    
    <div class="form-group">
      <label for="name">Name</label>
      <input #name class="form-control">
    </div>

    <div class="form-group">
     <label for="imageUrl">İmage Url</label>
     <input #imageUrl class="form-control">
   </div>

   <div class="form-group">
     <label for="description">Description</label>
     <textarea #description class="form-control"></textarea>
   </div>
   
   <button (click)="add(name.value,imageUrl.value,description.value); name.value =''; imageUrl.value=''; description.value='';" class="btn btn-outline-primary btn-sm">Save</button>

  </div>
</div>
